// variables
@import "../../../scss/variables.scss";

.footer {
    // modificacion
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    // size
    padding-top: 10px;
    width: 100%;
    height: 50px;
    // color
    background-color: $color8;

    div {
        text-align: center  ;
    }
}

.textFooter {
    // modificacion
    text-decoration: none;
    position: relative;
    cursor: pointer;
    // size
    width: 160px;
    // color
    color: $color3;
}
.textFooter:hover {
    // color
    color: $color6;
    transition: 1.5s;
}
.textFooter::before {
    content: '';
    position: absolute;
    transform-origin: right;
    transform: scaleX(0);
    // size
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    // color
    background: linear-gradient(to right, $color1, $color6, $color6 );
    transition: 0.4s;

}
.textFooter:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}