// variables
@import "../../../scss/variables.scss";

.categoriaCarousel {
    padding-top: 60px;
    width: 100%;
    height: auto;
}
.categoriaCarouselItem {

    img {
        // modificacion
        object-fit: cover;
        display: block;
        margin: 0px auto;
        border-radius: 5px;
        // size
        width: 60rem;
        height: 400px;
    }
}
// color fondo
.itemCategoria1 {
    background-color: transparent;
}
.itemCategoria2 {
    background-color: transparent;
}

.carouselCategoriaDescripcion {
    font-family: $font6;
    .categoriaDesc1 {
        color: $color6;
    }
    .categoriaDesc2 {
        color: $color1;
    }
    .categoriaDesc3 {
        color: $color7;
    }
}
