// variables
@import "../../scss/variables";


.loader {
    // size
    width: 100%;
    height: 100vh;
    // color
    background: linear-gradient(to right, $color7, $color7, $color6);
    background-size: 400% 400%;
    animation: backgroundCarga 10s infinite ease-in-out;
}
@keyframes backgroundCarga{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}