// variables
@import "../../../scss/variables.scss";

.inicioCarousel {
    padding-top: 60px;
}
.inicioCarouselItem {

    img {
        // modificacion
        display: block;
        margin: 0px auto;
        border-radius: 5px;
        // size
        width: 98%;
        height: 400px;
    }
}
.carouselDescripcion {
   
    .desc1 {
        color: $color6;
    }
    .desc2 {
        color: $color1;
    }
    .desc3 {
        color: $color11;
    }
}
