// variables
@import "../../../scss/variables.scss";

.inicioCarousel {
    padding-top: 60px;
    width: 100%;
    height: auto;
}
.inicioCarouselItem {

    img {
        // modificacion
        display: block;
        margin: 0px auto;
        border-radius: 5px;
        // size
        width: 60rem;
        height: 400px;
    }
}
// color fondo
.item1 {
    background-color: transparent;
}
.item2 {
    background-color: transparent;
}
.item3 {
    background-color: $color11;
}
.carouselDescripcion {
   
    .desc1 {
        color: $color6;
    }
    .desc2 {
        color: $color1;
    }
    .desc3 {
        color: $color7;
    }
}
