// variables
@import "../../scss/variables";

.divCarrito {
    padding-top: 70px;
    margin-left: 2%;
    min-height: 41.4rem;
    color: $color6;
    h1 {
        font-size: 20px;
    }
}
// icono carrito
.iconoCarrito {
    font-size: 15px;
}
.carritoProductos {
    padding-left: 2rem;
}
// productos
.itemProductoCarrito {
    // modificacion
    display: grid;
    grid-template-columns: repeat(auto-fill, 22%);
    grid-gap: 10px;
    border-radius: 5px;
    border: 1px solid $color6;
    // size
    width: 80%;
    align-items: center;
    margin-bottom: 10px;
    // color
    background: linear-gradient(to right, $color8, $color7, $color8);
}
.imgCarrito img {
    // modificacion
    border-radius: 5px;
    // size
    width: 10rem;
}
.productoCarritoInformacion {
    // modificacion
    position: relative;
    // size
    top: 10px;
}
// text
.nombreProducto {
    // size
    font-size: 18px;
    // color
    color: $color6;
}
.precioProducto {
    // size
    font-size: 16px;
    // color
    color: $color10;
}
.cantidadProducto {
    // size
    font-size: 16px;
    // color
    color: $color1;
}
.stockProducto {
    // modificacion
    position: relative;
    // size
    top: -20px;
    left: -24px;
    font-size: 14px;
    // color
    color: $color3;
}
// producto
.botonProducto {
    // modificacion
    border-radius: 5px;
    // size
    margin-left: 12rem;
    // color
    background-color: $color6;
}
.botonEditProducto {
    // modificacion
    transform: scale(1);
    border: none;
    border-radius: 5px;
    // color
    background-color: $color6;
    box-shadow: 0px 0px 0px $color6;
    transition: all 0.3s ease;
    // size
    padding: 0px 2px 2px 2px;
    margin-left: 88%;
}
.botonEditProducto:hover {
    // size
    transform: translateY(-3px);
    // color
    background-color: $color11;
    box-shadow: 0px 8px 15px $color11;
}
// icono
.iconEdit {
    // color
    color: $color7;
}
// control carrito
.seccionControlCarrito {
    display: flex;
    margin-left: 2.5%;
}
// botones
.botonesBorradoCompra {
    margin-left: 26rem;
}
// boton remove
.botonCartRemove {
    // modificacion
    transform: scale(1);
    border: none;
    border-radius: 5px;
    // color
    background-color: $color6;
    box-shadow: 0px 0px 0px $color3;
    transition: all 0.3s ease;
    // size
    padding: 0px 2px 2px 2px;
    margin-left: 80%;
}
.botonCartRemove:hover {
    // size
    transform: translateY(-3px);
    // color
    background-color: $color9;
    box-shadow: 0px 8px 15px $color9;
}
// icono
.iconoCartRemove {
    // color
    color: $color7;
}
// otros
.botonesBorradoCompra {
    // modificacion
    display: flex;
    justify-content: space-between;
    align-items: center;
}
// boton reset
.botonReset {
    // modificacion
    border: none;
    border-radius: 5px;
    // size
    width: 140px;
    padding: 5px 5px 5px 2px;
    // color
    background-color: $color9;
    color: $color7;
    box-shadow: 1px 1px 0px 0px;
}
.botonReset:hover {
    // color
    box-shadow: 2px 1px 0px 0px $color9;
    transition: 0.7s;
}
.iconoDelete {
    // modificacion
    position: relative;
    // size
    bottom: 2px;
    // color
    color: $color7;
}
// boton compra
.botonShop {
    // modificacion
    border-radius: 5px;
    text-decoration: none;
    // size
    width: 160px;
    padding: 5px 5px 5px 2px;
    margin-left: 10px;
    // color
    background-color: $color10;
    color: $color7;
    box-shadow: 1px 1px 0px 0px;
}
.botonShop:hover {
    // color
    color: $color7;
    box-shadow: 2px 1px 0px 0px $color10;
    transition: 0.7s;
}
.iconoShop {
    // modificacion
    position: relative;
    // size
    bottom: 1.5px;
    // color
    color: $color7;
}
// carrito vacio
.divCarritoVacio {
    // modificacion
    display: flex;
    align-items: baseline;
    justify-content: left;
    // size

}
.mensaje {
    // modificacion
    text-align: center;
    font-family: $font2;
    // size
    width: 250px;
    // color
    color: $color7;
    margin-right: 20px;
}
// boton
.botonVolverInicio {
    // modificacion
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    // size
    padding: 2px 5px 4px 5px;
    // color
    background-color: $color6;
    color: $color7;
    box-shadow: 2px 2px 2px 0px $color7;
}
.botonVolverInicio:hover {
    // color
    color: $color1;
    box-shadow: 2px 2px 8px 0px $color7;
    transition: 0.7s;
}