// variables
@import "../../../scss/variables.scss";

.cardProducto {
    // modificacion
    font-family: $font2;
    border-radius: 5px;
    border-color: $color6;
    // size
    width: 15rem;
    height: 450px;
    font-size: 16px;
    // color
    background: linear-gradient(to right, $color7, $color7, $color8)
}
.cardProducto:hover {
    // modificacion
    transform: scale(1.02);
    transition: 0.7s;
}
// text
.nombreProducto {
    // size
    font-size: 18px;
    // color
    color: $color6;  
}
.precioProducto {
    color: $color10;
}
.categoriaProducto {
    color: $color1;
}
.encargoProducto {
    color: $color9;
}
.disponibleProducto {
    color: $color10;
}
// boton
.botonVerMas {
    // modificacion
    border-radius: 5px;
    border: none;
    // size
    padding: 4px; 
    // color
    background-color: $color1;
    color: $color7;
}
.botonVerMas:hover {
    background-color: $color6;
    color: $color1;
    transition: 0.7s;
}