// variables
@import "../../scss/variables";

.checkout {
    padding-top: 60px;
    padding-bottom: 29rem;
    h2 {
        margin-left: 2%;
        color: $color6;
    }
}

// form
.formCompra {
    // modificacion
    display: flex;
    text-align: center;
    justify-content: center;
}
// input
.inputText {
    // size
    width: 600px;
}
.inputEmail {
    // size
    width: 600px;
}
.inputTel {
    // size
    width: 600px;
}
// text
.formText {
    // modificacion
    // size
    padding-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    // color
    color: $color6;
}

// boton
.botonEnviar {
    // modificacion
    border-radius: 5px;
    border: none;
    transform: scale(1);
    // size
    margin-top: 10px;
    padding: 0px 5px 0px 5px;
    // color
    color: $color7;
    background-color: $color10;
    box-shadow: 0px 0px 0px $color10;
    transition: all 0.3s ease;
}
.botonEnviar:hover {
    // size
    transform: translateY(-3px);
    // color
    color: $color7;
    background-color: $color10;
    box-shadow: 0px 4px 10px $color10;
}
.botonEnviar:active {
    transform: scale(0.90);
}
// confirmacion
.confirmacionCompra {
    // size
    padding-top: 64px;
    padding-bottom: 30rem;
    padding-left: 2%;
    h4 {
        color: $color1;
    }
    p {
        color: $color6;
    }
}

// boton
.botonVolver {
    // modificacion
    border-radius: 5px;
    text-decoration: none;
    // size
    padding: 5px 5px 5px 5px;
    // color
    background-color: $color6;
    color: $color7;
}
.botonVolver:hover {
    // color
    color: $color1;
    transition: 0.7s;
}

