// variables
@import "../variables";

.nav__bar--modificacion {
    align-items: center;
    text-align: left;
    position: fixed;
    top: -4px;
    border-radius: 5px;
    z-index: 5;
    // flex
    display: flex;
    justify-content: space-between;
}
.nav__bar--size {
    width: 100%;
    height: 50px;
    padding-left: 1%;
    padding-right: 1%;
}
.nav__bar--color {
    background-color: $color8;
}
// logo
.nav__bar__logo--modificacion {
    text-decoration: none;
}
.nav__bar__logo--size {
    font-size: 30px;
    margin-left: 2%;
}
.nav__bar__logo--color {
    color: $color6;
}
.navBarSectionItems {

    div {
        font-size: 20px;
        padding-top: 5px;
        color: $color6;
    }
    span {
        color: $color4;
        margin-left: 2%;
    }
}
// icono carrito
.divIconoCarrito {
    // modificacion
    border-radius: 5px;
    // color
    background-color: $color6;
}
.iconoCarrito {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -8px;
    color: $color7;
}