// variables
@import "../../../scss/variables.scss";

// boton encargar
.botonEncargarCarrito {
    // modificacion
    border-radius: 5px;
    border: none;
    // size
    margin-top: 10px;
    padding: 5px; 
}
.botonEncargarCarritoColor {
    // modificacion
    transform: scale(1);
    // color
    color: $color7;
    background-color: $color11;
    box-shadow: 0px 0px 0px $color11;
    transition: all 0.3s ease;
}
.botonEncargarCarritoColor:hover {
    // size
    transform: translateY(-3px);
    // color
    color: $color7;
    background-color: $color11;
    box-shadow: 0px 4px 10px $color11;
}
.botonEncargarCarritoColorBlock {
    // color
    color: $color7;
    background-color: $color3;
    box-shadow: 0px 4px 10px $color3;
}

// sweetalert
.swal2-title {
    color: $color6;
}