// variables
@import "../variables";

.productos {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 2%;

    h5 {
        color: $color6;
        margin-top: 10px;
    }
}