// variables
@import "../variables";

// detalles
.detalleProducto {
    // modificacion
    align-items: center;
    border-radius: 5px;
    // size
    margin-left: 2%;
    margin-top: 70px;
    margin-bottom: 20px;
}
// detail img and text
// left
.detalleProductoInfo {
    // modificacion
    display: flex;
    // size
    margin-top: 10px;
}
.detalleProductoInfo img {
    // modificiacion
    border-radius: 5px;
    // size
    width: 25rem;
}
// right
.detalleProductotext {
    // size
    margin-top: 10px;
    margin-left: 20px;
}
// text
.precioProducto {
    color: $color10;
}
.descripcionProducto {
    width: 40rem;
}
