// variables
@import "../variables";

.DetalleProducto {
    // modificacion
    align-items: center;
    border-radius: 5px;
    // size
    margin-left: 2%;
    margin-top: 70px;
    margin-bottom: 20px;
}
