// variables
@import "../variables";

.cardCantidadProducto {
    // modificacion
    text-align: center;
    // size
    width: 180px;
    height: auto;
}
.cantidadCompra {
    // modificacion
    z-index: 3;
    position: relative;
    border: 1px solid $color7;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 30% 33% 30%;
    align-items: center;
    // color
    background-color: $color1;
}
.numeroCantidadCompra {
    margin-left: 10px;
    margin-right: 10px;
}
// botones
.botonRemove {
    // modificacion
    border: none;
    border-radius: 5px;
    // size
    width: 50px;
    height: auto;
    // color
    background-color: transparent;
    color: $color9;
}
.botonAdd {
    // modificacion
    border: none;
    border-radius: 5px;
    // size
    width: 60px;
    height: auto;
    margin-left: 6px;
    // color
    background-color: transparent;
    color: $color10;
}
.botonAddCarrito {
    // modificacion
    border-radius: 5px;
    border: none;
    // size
    margin-top: 10px;
    padding: 5px;
    // color
    background-color: $color10;
    color: $color7;
    box-shadow: 0px 0px 2px 0px $color6;
}
.iconoAddCart {
    // color
   filter: drop-shadow(1px 1px 0px $color6);
   color: $color7;
}
.botonAddCarrito:hover {
    // color
    box-shadow: 0px 1px 2px 1px $color10;
    transition: 0.2s;
}
.stockProducto {
    // modificacion
    position: relative;
    font-size: 12px;
    // size
    top: -3px;
    left: 3px;
    width: 174px;
    // color
    color: $color1;
}