// variables
@import "../variables";

.cardCatalogo {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    grid-gap: 30px;
    // size
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 20px;
}