// variables
@import "../variables";

.DetalleProducto {
    // modificacion
    text-align: center;
    border-radius: 5px;
    border: 1px solid $color7;  
    // size
    margin-left: 2%;
    margin-bottom: 2%;
    width: 20rem;

    img {
        width: 18rem;
        border-radius: 5px;
    }

}