// variables
@import "../variables";

.cardCantidadProducto {
    // modificacion
    text-align: center;
    // size
    width: 300px;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cantidadCompra {
    // modificacion
    border: 1px solid $color7;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
}
.numeroCantidadCompra {
    margin-left: 10px;
    margin-right: 10px;
}
// botones
.botonRemove {
    // modificacion
    border: none;
    border-radius: 5px;
    // size
    width: 50px;
    height: auto;
    // color
    background-color: transparent;
    color: $color9;
}
.botonAdd {
    // modificacion
    border: none;
    border-radius: 5px;
    // size
    width: 100px;
    height: auto;
    // color
    background-color: transparent;
    color: $color10;
}
.botonAddCarrito {
    // modificacion
    border-radius: 5px;
    border: none;
    // size
    margin-top: 10px;
    padding: 5px;
    // color
    background-color: $color10;
    color: $color7;
}