
// colores
$color1: rgb(243, 240, 240);
$color2: black;
$color3: #ADAABF;
$color4: rgba(128, 128, 128, 0.459);
$color5: #592C30;
$color6: #5298F2;
$color7: #07080D;
$color8: #171A26;
$color9: rgb(240, 24, 24);
$color10: rgba(11, 173, 11, 0.952);
$color11: orange;
$color: #5297f285;
// text

// fuentes de texto
$font1: 'Roboto', sans-serif;
$font2: 'Oswald', sans-serif;;
$font3: "Century Gothic", CenturyGothic;
$font4: 'Bebas Neue', regular 400;
$font5: 'Homenaje', sans-serif;

// propiedades
$mayus: uppercase;

// mixin
@mixin titulo {
    font-family: $font2;
    text-rendering: optimizeLegibility;
    text-transform: $mayus;
    font-size: 25px;
    letter-spacing: 2px;
}
.tituloScss {
    @include titulo;
}
@mixin text {
    font-family: $font2;
    text-rendering: optimizeLegibility;
    text-transform: $mayus;
    font-size: 18px;
    letter-spacing: 2px;
}
.textScss {
    @include text;
}
// subrayados
.subrayadoText {
    background: #5297f2a9;
    color: $color7;
    border-radius: 5px;
    padding: 3px;
}
