// variables
@import "../../../scss/variables";

// metodos de pago
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.container .container-pago{
    padding: 10px;
    width: 600px;
}

.container .container-pago .inputBox{
    margin-top: 0px;
}

.container .container-pago .inputBox span{
    color:$color7;
    padding-bottom: 5px;
}

.container .container-pago .inputBox input,
.container .container-pago .inputBox select{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border:1px solid rgba(0,0,0,.3);
    color: $color7;
}

.container .container-pago .flexbox{
    display: flex;
    gap:15px;
}

.container .container-pago .flexbox .inputBox{
    flex:1 1 150px;
}

.container .card-container{
    margin-bottom: -10px;
    margin-left: 12%;
    position: relative;
    height: 280px;
    width: 400px;
}

.container .card-container .front{
    position: absolute;
    height: 90%;
    width: 100%;
    top: 0; left: 0;
    background:linear-gradient(45deg, $color4, $color1);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    padding:20px;
    margin-bottom: 80px;
    transform:perspective(1000px) rotateY(0deg);
    transition:transform .4s ease-out;
}

.container .card-container .front .image{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 10px;
}

.container .card-container .front .image img{
    height: 50px;
}

.container .card-container .front .card-number-box{
    padding: 30px 0;
    font-size: 22px;
    color: $color3;
}

.container .card-container .front .flexbox{
    display: flex;
}

.container .card-container .front .flexbox .box:nth-child(1){
    margin-right: auto;
}

.container .card-container .front .flexbox .box{
    font-size: 15px;
    color:$color3;
}

.container .card-container .back{
    position: absolute;
    top:0; left: 0;
    height: 90%;
    width: 100%;
    background:linear-gradient(45deg, $color4, $color1);
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transform:perspective(1000px) rotateY(180deg);
    transition:transform .4s ease-out;
}

.container .card-container .back .stripe{
    background: $color4;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.container .card-container .back .box{
    padding: 0 20px;
}

.container .card-container .back .box span{
    color:$color3;
    font-size: 15px;
}

.container .card-container .back .box .cvv-box{
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color: $color7;
    background: $color3;
    border-radius: 5px;
    width: 100%;
}

.container .card-container .back .box img{
    margin-top: 30px;
    height: 30px;
}
